spring:
  application:
    name: patient-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 3
        initial-interval: 1000
