server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo
        git:
          uri: file://${user.home}/Projects/Clinic_mgmt/config-repo
          default-label: main
          clone-on-start: true
  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud: DEBUG
    org.springframework.cloud.config: DEBUG
